<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>商品列表Demo</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit"/>
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <!-- 开启对web app的支持 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 主要是正对苹果手机将数字自动识别为号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="true"/>
    <meta name="browsermode" content="application"/>
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>
   <link rel="stylesheet" href="/css/MallDemo.css" type="text/css">
</head>
<body>
<div class="title">万事利店</div>
<div class="container">
    <ul class="menu">
        <li class="left first">
            <a href="#" class="a-list">
                首页首页
            </a>
        </li>
        <li class="left">
            <a href="#" class="a-list">
                全部商品
            </a>
        </li>
        <li class="left">
            <a href="#" class="a-list">
                品牌一览
            </a>
        </li>
        <li class="left">
            <a href="#" class="a-list">
                全部分类
            </a>
        </li>
    </ul>

    <div class="mallList" id="mallList">
       <!--  <div class="mallDetailed">
            <a href="http://www.baidu.com">
                <img src="/images/mall/about-1.png">
                <h6>hihi</h6>
                <h6>价格：1133</h6>
            </a>
        </div>
        <div class="mallDetailed">
            <a href="http://www.baidu.com">
                <img src="/images/mall/about-2.png">
                <h6>hihi</h6>
                <h6>价格：1133</h6>
            </a>
        </div>
        <div class="mallDetailed">
            <a href="http://www.baidu.com">
                <img src="/images/mall/about-3.png">
                <h6>hihi</h6>
                <h6>价格：1133</h6>
            </a>
        </div> -->
       <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
     	<!--   配置有问题  -->
        <script type="text/JavaScript" src="../js/mallDemo.js"></script> -->
    </div>

</div>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>-->
<!--&lt;!&ndash; 配置有问题  &ndash;&gt;-->
<!--<script type="text/JavaScript" src="../js/mallDemo.js"></script>-->
</body>
</html>